@import "tailwindcss";

/* Custom font utilities */
/* @utility font-inter {
  font-family: "Inter", sans-serif;
}

@utility font-bai {
  font-family: "Bai Jamjuree", sans-serif;
} */

body {
  /* @apply m-0; */
  font-family:
    "Inter",
    "Bai Jamjuree",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.recharts-surface {
  overflow: visible !important;
}

/* Calendar Heatmap */
.react-calendar-heatmap rect {
  rx: 2px;
  ry: 2px;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #00d4ff;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #00d4ff;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #00d4ff;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #00d4ff;
}
.react-calendar-heatmap .color-empty {
  fill: #a1a1aa;
  opacity: 0.2;
}

.MuiPaper-root {
  --Paper-overlay: none !important;
}
