@import "tailwindcss";

/* Custom font utilities */
/* @utility font-inter {
  font-family: "Inter", sans-serif;
}

@utility font-bai {
  font-family: "Bai Jamjuree", sans-serif;
} */

body {
  /* @apply m-0; */
  font-family:
    "Inter",
    "Bai Jamjuree",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
